.pageTitle {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  gap: 10px;
}
.pageTitle-main {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #252B42;
}
.pageTitle-description {
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  color: #737373;
}
.pageTitle-main__left {
  justify-content: flex-start;
  text-align: start;
}
.pageTitle-mini {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #252B42;
}
