.header {
  padding: 0 200px;
  height: 90px;

}

.header-container {
  display: flex;
  align-items: center;
  gap: 80px;
  height: 100%;
}

.header-logo {
  color: #252B42;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;

}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
.header-content_mobile {
  display: none;
}

.header-nav {
  display: flex;
  gap: 20px;

}

.header-nav span {
  color: #737373;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;

}

.header-login {
  background-color: unset;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  text-align: right;
  color: #23A6F0;
  height: 52px;

}

.header-member {
  background-color: #23A6F0;
  border-radius: 5px;
  padding: 15px 25px;
  border: none;
  height: 52px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  gap: 15px;

}

.header-member img {
  width: 12px;
  height: 10px;
}

.header-actions {
  display: flex;
  gap: 45px;
}

@media (max-width: 1024px) {
  .header {
    padding: 35px;
    height: 32px;
  }
  .header-content {
    display: none;
  }
  .header-container{
   justify-content: space-between;
  }

  .header-content_mobile {
    display: flex;
  }

}
