.content-background {
  background-image: url("../../../img/background.svg");
  background-size: cover;
}
.content-section{
  display: flex;
  flex-direction: column;
  max-width: 1051px;
  padding: 90px 0;
  margin: 0 auto;
  gap: 40px;
}
.content-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.content-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 600px;
  /*padding: 40px 0;*/
}

.content-row {
display: flex;
  gap: 20px;
}
.content-row-big {
  /*height: 140px;*/
}

.content-input {
  flex-grow: 1;
  background: #F9F9F9;
  border: 1px solid #E5E5E5;
  border-radius: 5px;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
  color: #737373;
  height: 50px;
  padding: 0 20px;
}


 .content-select {
   background: #F9F9F9;
   border: 1px solid #DDDDDD;
   border-radius: 5px;
   flex-grow: 1;
   font-weight: 400;
   font-size: 14px;
   line-height: 28px;
   letter-spacing: 0.2px;
   color: #737373;
   height: 50px;
   padding: 15px 20px;
 }
.content-button {

    display: flex;
    justify-content: center;
    width: 250px;
    height: 52px;
  padding: 15px 40px;
  gap: 10px;
    border-radius: 5px;
    border-style: unset;
    background: #23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #FFFFFF;
}

.content-textarea {
  flex-grow: 1;
  height: 140px;
  resize: none;
  border: 1px solid #BDBDBD;
  background-color: #F9F9F9;
  border-radius: 5px;


  padding: 16px 26px;
}


@media (max-width: 1024px) {
  .content-background {
    background-image: url("../../../img/background.svg");
    background-size: initial;
    height: 1200px !important;
  }
  .content-section {
    display: flex;
    flex-direction: column;
    height: unset;
    padding: 40px 64px;
  }
 .content-row {
   flex-direction: column;
   height: auto;
 }

}
